* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
}

a {
  color: #000;
  display: inline-block;
}

.header {
  border-top: 1px solid #3882e5;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 87px;
}
.header__inner a {
  font-family: "Open Sans", sans-serif;
  color: #2f3f54;
  font-size: 14px;
  font-weight: 700;
}
.header__inner li + li {
  margin-left: 38px;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}

.menu__list {
  display: flex;
}

.top {
  background: url("/img/background.png");
  padding: 150px 0 180px 0;
}
.top__inner {
  display: flex;
}

.top-info {
  color: #fff;
  max-width: 555px;
  margin-right: 35px;
}
.top-info__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
}
.top-info__descr {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 33px;
  line-height: 52px;
}
.top-info__descr span {
  font-size: 14px;
  line-height: 24px;
  display: block;
}
.top-info__list {
  margin-bottom: 50px;
}
.top-info__list li {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3px;
  padding-left: 26px;
}
.top-info__list li img {
  padding-top: 5px;
}
.top-info__list li::before {
  content: "";
  width: 13px;
  height: 13px;
  background: url(/img/listIcon.png);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.top-info__btn {
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 15px 44px;
  border-radius: 44px;
  margin-bottom: 15px;
}